# AI POWERED JOB INSIGHTS - SIMPLE CLEANING DATASET

Laksika Tharmalingam. (2024). AI-Powered Job Market Insights. Kaggle.com. https://www.kaggle.com/datasets/uom190346a/ai-powered-job-market-insights/data

In [65]:
#importing

import numpy as np
import pandas as pd

In [66]:
dataset = pd.read_csv("ai_job_market_insights.csv")

In [67]:
dataset.head(10)

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.165243,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.263069,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.953758,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.922171,Yes,Decline
5,UX Designer,Education,Large,San Francisco,Medium,Medium,Cybersecurity,102825.007867,No,Growth
6,HR Manager,Finance,Medium,Singapore,Low,High,Sales,102065.720673,Yes,Growth
7,Cybersecurity Analyst,Technology,Small,Dubai,Medium,Low,Machine Learning,86607.317618,Yes,Decline
8,AI Researcher,Retail,Large,London,High,Low,JavaScript,75015.860846,No,Stable
9,Sales Manager,Entertainment,Medium,Singapore,High,Low,Cybersecurity,96834.578295,Yes,Decline

In [68]:
dataset.columns

Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

No columns seem misspelt

In [69]:
dataset.shape

(500, 10)

500 rows, 10 columns

In [70]:
dataset.dtypes

Job_Title                 object
Industry                  object
Company_Size              object
Location                  object
AI_Adoption_Level         object
Automation_Risk           object
Required_Skills           object
Salary_USD               float64
Remote_Friendly           object
Job_Growth_Projection     object
dtype: object

In [71]:
#checking to see if anything is missing 
dataset.isna().sum()

Job_Title                0
Industry                 0
Company_Size             0
Location                 0
AI_Adoption_Level        0
Automation_Risk          0
Required_Skills          0
Salary_USD               0
Remote_Friendly          0
Job_Growth_Projection    0
dtype: int64

no data seems to be NA

In [72]:
#checking for duplicates
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

no data seem to be duplicated

In [73]:
dataset["Industry"].unique()

array(['Entertainment', 'Technology', 'Retail', 'Education', 'Finance',
       'Transportation', 'Telecommunications', 'Manufacturing',
       'Healthcare', 'Energy'], dtype=object)

In [74]:
#getting a feel of the values in the dataset
for i in range(len(dataset.columns)):
    columns = dataset.columns[i]
    unique_values = dataset.iloc[:, i].unique()
    print(f"{columns}\n {unique_values} \n")

Job_Title
 ['Cybersecurity Analyst' 'Marketing Specialist' 'AI Researcher'
 'Sales Manager' 'UX Designer' 'HR Manager' 'Product Manager'
 'Software Engineer' 'Data Scientist' 'Operations Manager']

Industry
 ['Entertainment' 'Technology' 'Retail' 'Education' 'Finance'
 'Transportation' 'Telecommunications' 'Manufacturing' 'Healthcare'
 'Energy']

Company_Size
 ['Small' 'Large' 'Medium']

Location
 ['Dubai' 'Singapore' 'Berlin' 'Tokyo' 'San Francisco' 'London' 'Paris'
 'Sydney' 'New York' 'Toronto']

AI_Adoption_Level
 ['Medium' 'Low' 'High']

Automation_Risk
 ['High' 'Low' 'Medium']

Required_Skills
 ['UX/UI Design' 'Marketing' 'Project Management' 'JavaScript'
 'Cybersecurity' 'Sales' 'Machine Learning' 'Python' 'Data Analysis'
 'Communication']

Salary_USD
 [111392.16524316  93792.56246611 107170.26306895  93027.95375786
  87752.92217059 102825.00786657 102065.72067348  86607.3176181
  75015.86084571  96834.57829481  91566.97337925  78902.56574458
  73151.99034926  98209.51687789 101001.90114055  82799.3577069
  78401.25928174  73394.89621926  97645.0987829   73920.45852719
 134822.69138041  81794.37128058  41495.71444255  89396.56666742
  88539.33040362 112234.37135048  95762.52473455  73323.2963312
  84272.16253006  96548.39543302  46705.71499379 116772.43468781
  73376.60228391 118340.87641895  97849.30282253 102591.88272788
 112988.46872003 101462.64105385 103457.72432635  86711.67119077
  97443.37362944  78250.04370057  83131.77800824 129293.90095938
  73836.12829899  93086.34253273  92269.38073431  83784.91056438
 100288.01873141 101794.44185483  71483.61633705  92027.13423093
  68352.65322455 105770.97236635  93529.74620725  91646.59773434
 103180.62697745  84489.79419063 108280.43918436  71031.10254488
 118237.53037789  78981.7763489   56076.41864609  83429.30183075
  81160.63605492  83278.520277    94632.96030968 111956.84721777
  86165.88172206  76167.64860362  67469.06375432  80636.34417382
  52243.50321499  75497.33812967 114881.07791724  73532.81590843
 102574.31721601  65470.35820383 125421.91798621 126752.13466129
 101820.4311312  129825.05203287  97115.85949855 105370.34228299
 115238.67753463  93594.36906197  58952.4507683  105779.26710469
  80562.80811133  82049.40358089  95957.89832957 101325.61759435
  93002.69268012 102714.59072315  75862.8573188   89145.92410553
 106981.70900902 125455.82352873 132528.71177946  98659.53365455
 106800.19653491 129631.5832963   76583.27926533 102593.99705425
 105366.85898972 118957.22872153  67257.17238928  71211.88432399
  90427.64422209  97554.55324643 112457.27907468 100350.87551625
  86971.73539779  98329.22889512  96020.88952549 124900.32859976
  93313.17887137  82338.33172895  98992.18060144  93969.70638677
  58580.13288651  89686.95876756  87985.23509188  79122.56268441
 110711.66575246  74286.40806776  99112.37239049  87042.86000313
  92153.90011294  98235.72582092  63848.51232218  93833.2178347
 135778.94979426  58864.73308243  88847.84072569 112464.78649648
  96032.38495907 103759.33904232  42486.67977815 101964.9874926
  74766.23587533  96197.54569166  89411.30538181 135566.66058323
 100933.90647532  87747.52341474  59806.14481493  92422.938037
 106464.57756694  88388.96216362  79886.87280125  78548.26672307
 100702.82870911 105187.75878618 117224.20230642  70100.00213579
 100519.55116835  87565.92091164  88155.31590733  98036.51708068
  98153.1250725  100575.36211583  68850.57615608  75003.77185667
 119717.36551035  85588.55065038  96120.28796036 111093.32624086
  99268.86144722 100930.45261944 107891.55358488  47666.72478206
  80200.99689679  99372.11592999 117752.88614115  91321.91119312
  73105.67076488  73638.27900779 107677.22406906  85644.52835216
  89855.99908419 102300.60387545  31969.52634613 130007.35023016
  75378.52329898  94838.72738947  55906.05973007  81549.1777919
 114893.7609273   51676.65640668 112524.00174378  84526.07807535
  99743.2888044  103150.4882697   98828.42998982  72700.98696738
  82709.0170693   60768.87645498  99835.92663176 124041.10308032
  53511.18226647  74767.08187724  86364.49448234  93466.82847427
 107583.52602869  86956.00039285  83680.82547109 112062.61412139
 103239.91134127 100779.55951402  92250.31423176 109663.0442184
  76873.81217539  74146.11435628 104922.01973739  57499.28061506
  91843.59019273  83668.83295475  61884.90538694  71374.64840567
  87820.47815409 110679.26512998  76940.84017484 114267.6279981
  91263.58455113 116207.6940434   77910.1678244   89023.80823789
  97369.67206674  86409.79074517 109060.4829429   45848.72549419
 138448.1107758  107155.4921399   86529.3634193   78953.56652845
  72671.58777103 102912.30948339 109899.63337585  86749.4774374
 112139.80825957  71854.79906478  68323.78300026 126266.82410491
 101822.17227077 117936.96403627  72921.20583225  71529.49216463
  82827.81361085  73518.82316922 104107.30420457  74977.47886147
  66566.60283865  92840.3082451   64200.2764835   54010.72137049
  92665.14467723  55015.5991398  105505.58792591  62093.32547494
  45186.52427161  84124.06699718  92891.89006593  99829.50127364
  93440.31398032  68813.74757765 104261.22361853 109202.77012959
  65884.75743089  86379.87722681  84511.19945782  94407.63165576
  85901.52416452  88642.44455854 102836.31060483  67722.93800798
 104747.46270522 112822.65463063 122682.69986978  47132.65351725
  86341.9668577   50697.98851293  41298.72620454  92881.86095215
  82016.96414299  95997.01903541  99722.55380175 114957.91916216
  91078.40850612 148467.11234638  96128.1970997  126849.58089134
  43343.24398952 116994.79059101  86384.79020409  51033.05481145
  98410.90218456  83940.88924031 101601.06496896 110221.52915102
  60216.99766477 110298.3796491   90129.58968441 117056.82349387
  85897.03542004  80591.82214937  90541.08081378  92037.2141276
  76744.30397017  80073.90538089  65462.48930972  81307.0982042
 103526.20119995  87252.91652188 110181.30592095  86291.41064694
  61369.64004553 101945.49775113  76527.53717933  85332.65422473
 114751.44094968  66782.59080557  93294.87574929  89189.63299928
 104018.51430874 107103.06730964  95276.78008498  82792.50706839
  99467.45008052 116713.11794289  89454.20120721  84654.87771154
  97763.40515336  90774.54040739  63245.81152164  94786.61600795
  63064.75182472  97489.61292817  74057.14551187  90737.49608373
  97811.87812398 139078.06691887 104854.99923574 117295.97619485
 127434.95637388  99785.11833999  95713.79600534  68665.57782348
  87667.40135199  75538.24540728  81978.82299751 127413.26752385
  92292.430184    72482.00844568 117490.66909383 109105.50952475
 110153.06985201  49877.39593795 128973.41915443  78829.70515812
 105559.09545586 140475.99581234 133106.65496381  70448.75749055
  61109.65325995 118606.93197696  92841.11623188  79982.37117396
 102424.37093878  86742.40845081 104026.48274097  91339.63615637
 104447.75856656  72109.34621727 118489.24026265 103952.46741465
 102925.94738807  67646.60145976 123992.64833288  89725.67801267
 104560.9772486   83543.51072507  95217.78129364  95942.54704239
  33601.38135993 101648.9624931  129306.82923444 100795.60517984
  70845.83502221 102999.23132308 111189.61060347 100249.33032381
  88517.4578714   85157.01548352  85073.80489266 103955.53802022
  61857.52009881  82562.53678289 121912.19646022 122683.90533154
  60437.05824397  67371.72777473  84587.58840944 107851.79034229
  53450.51291894  88903.82730165  80516.41686841 116519.2934857
  56461.83052061  91850.81230987  82127.81125303 119395.97852555
 101953.05292707  78283.68681485 107067.72886658  82223.42293383
 109986.5942248   85258.46018229 111093.33157538  98721.63910254
 155209.82161383  88942.07989168  97657.24583243  80411.50516568
  90053.7068151   35963.29731701  99311.68033082 116857.48425899
  97932.60009199  63722.77084045  73964.25694582  41396.15745687
 109578.48013731  69869.73414581  89425.82819576  86925.24855346
 119754.54071317  91705.62635931 106177.85840212 100929.27528295
 117188.22839923  85217.52610994 127392.30661009  50286.75687201
 107149.46996002  72667.60782672  80145.0089444  101388.28533802
 101228.04099695 102128.5602738   62276.8411179  118980.60462558
  71987.05763545  74654.2581955  102757.93476334  84265.57650478
  96165.21681125  46867.98606734  95686.48899038  94356.63759024
  79802.82924471  48518.4808047   85743.83477037  89252.52280403
  82655.42019339  53276.51071135 121894.68014634  77222.76944111
  85555.90674154  41810.51357563 121897.10697396  80669.00136532
  91969.25634148 112414.74889633  76473.91590567 109264.89974773
  48773.49088118 101019.73315143 121444.84333039  78391.66305564
 112377.63240597 126678.45304388  84903.16323892  83249.434283
  72034.12508335  79805.3968963   73692.80219455  72017.77803146
 113976.70593423  74201.47949423  95170.43829439  90764.66870432
 119961.89125142  79936.8753589   97622.96093309 105821.39404552
 119794.99214641  79644.93309909  77642.15062535  68764.3789208 ]

Remote_Friendly
 ['Yes' 'No']

Job_Growth_Projection
 ['Growth' 'Decline' 'Stable']

In [75]:
#updating the values to be rounding to the nearest number as often salary ranges aren't given based upon cents etc
dataset["Salary_USD"] = dataset["Salary_USD"].round(0)

In [76]:
dataset

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.0,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93793.0,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.0,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93028.0,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87753.0,Yes,Decline
...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,105821.0,Yes,Stable
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,119795.0,No,Decline
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,79645.0,Yes,Stable
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,77642.0,Yes,Stable
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,68764.0,Yes,Decline

In [77]:
#creating long and lat column
dataset.insert(10,"long",0)
dataset.insert(11,"lat",0)
dataset

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection,long,lat
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.0,Yes,Growth,0,0
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93793.0,No,Decline,0,0
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.0,Yes,Growth,0,0
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93028.0,No,Growth,0,0
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87753.0,Yes,Decline,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,105821.0,Yes,Stable,0,0
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,119795.0,No,Decline,0,0
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,79645.0,Yes,Stable,0,0
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,77642.0,Yes,Stable,0,0
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,68764.0,Yes,Decline,0,0

In [79]:
# create masks for each location and update the 'long' and 'lat' columns

# Dubai
dubai_mask = dataset["Location"] == "Dubai"
dataset.loc[dubai_mask, "long"] = 25.2048
dataset.loc[dubai_mask, "lat"] = 55.2708

# Singapore
singapore_mask = dataset["Location"] == "Singapore"
dataset.loc[singapore_mask, "long"] = 103.8198
dataset.loc[singapore_mask, "lat"] = 1.3521

# Berlin
berlin_mask = dataset["Location"] == "Berlin"
dataset.loc[berlin_mask, "long"] = 13.4050
dataset.loc[berlin_mask, "lat"] = 52.5200

# Tokyo
tokyo_mask = dataset["Location"] == "Tokyo"
dataset.loc[tokyo_mask, "long"] = 139.6917
dataset.loc[tokyo_mask, "lat"] = 35.6895

# San Francisco
sf_mask = dataset["Location"] == "San Francisco"
dataset.loc[sf_mask, "long"] = -122.4194
dataset.loc[sf_mask, "lat"] = 37.7749

# London
london_mask = dataset["Location"] == "London"
dataset.loc[london_mask, "long"] = -0.1276
dataset.loc[london_mask, "lat"] = 51.5074

# Paris
paris_mask = dataset["Location"] == "Paris"
dataset.loc[paris_mask, "long"] = 2.3522
dataset.loc[paris_mask, "lat"] = 48.8566

# Sydney
sydney_mask = dataset["Location"] == "Sydney"
dataset.loc[sydney_mask, "long"] = 151.2093
dataset.loc[sydney_mask, "lat"] = -33.8688

# New York
ny_mask = dataset["Location"] == "New York"
dataset.loc[ny_mask, "long"] = -74.0060
dataset.loc[ny_mask, "lat"] = 40.7128

# Toronto
toronto_mask = dataset["Location"] == "Toronto"
dataset.loc[toronto_mask, "long"] = -79.3832
dataset.loc[toronto_mask, "lat"] = 43.6532

In [80]:
dataset

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection,long,lat
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.0,Yes,Growth,25.2048,55.2708
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93793.0,No,Decline,103.8198,1.3521
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.0,Yes,Growth,103.8198,1.3521
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93028.0,No,Growth,13.4050,52.5200
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87753.0,Yes,Decline,139.6917,35.6895
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,105821.0,Yes,Stable,13.4050,52.5200
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,119795.0,No,Decline,-0.1276,51.5074
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,79645.0,Yes,Stable,25.2048,55.2708
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,77642.0,Yes,Stable,2.3522,48.8566
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,68764.0,Yes,Decline,13.4050,52.5200

In [82]:
dataset.to_csv("cleaned_dataset_ai_job_insights.csv")